.App {
  font-family: sans-serif;
 }

.quotes-list{
  list-style: none;
  display: grid;
  grid-template-columns:  repeat(auto-fit, 350px);
  gap:1rem;
  justify-content: center;
}
.quote{
  border: 1px solid #007ead;
  display: grid;
  gap: 10px;
  padding: 1rem;
  position: relative;
}
.header{
  position: sticky;
  background-color: #007ead;
  height: 60px;
  width: 100%;
  z-index: 3;
  top: 0;
  display: grid;
  align-content: center;
  grid-template-columns: 150px 1fr;
}

.right-nav{
  display: grid;
  justify-content: end;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  color: white;
  margin-right: 1.5rem;
}
.delete-btn{
 position: absolute;
 top: -0.5rem;
 right: 0;
 border-radius: 5px;
 border: none;
 font-size: 1.4rem;
 color: white;
 background-color: #007ead;
}
 .author-name{
  text-align: end;
}
h1{
  color:white;
  margin-left: 2rem;
}
.randomquote{
  border: 1px solid #007ead;
  display: grid;
  place-items: center;
  gap: 10px;
  padding: 1rem;
  margin-top: 2rem;
}

img{
  width: 100%;
}
.details{
  display: grid;
  place-items: center;
  height: 100vh;
}
.quotedetails{
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #007ead;
}
.author-details{
  display: grid;
  gap: 20px;
  text-align: center;
}
.form{
  display: grid;
  padding: 1rem;
  border: 1px solid #007ead;
}
.form-section{
  display: grid;
  justify-content: center;
  text-align: center;
}
.label{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap :10px;
  padding: 10px;
}
